In [26]:
import pandas as pd

# Containers

samples-eda\samples\containers.csv

```
zone,container_id,width_cm,depth_cm,height_cm
Sanitation_Bay,SB01,25.0,42.5,200.0
Sanitation_Bay,SB02,100.0,85.0,200.0
Sanitation_Bay,SB03,100.0,85.0,200.0
Sanitation_Bay,SB04,200.0,85.0,200.0
Command_Center,CC01,100.0,85.0,200.0
```

In [27]:
containers = pd.read_csv('./samples/containers.csv')
containers.head()

             zone container_id  width_cm  depth_cm  height_cm
0  Sanitation_Bay         SB01      25.0      42.5      200.0
1  Sanitation_Bay         SB02     100.0      85.0      200.0
2  Sanitation_Bay         SB03     100.0      85.0      200.0
3  Sanitation_Bay         SB04     200.0      85.0      200.0
4  Command_Center         CC01     100.0      85.0      200.0

In [28]:
containers['volume_cm3'] = containers['width_cm'] * containers['depth_cm'] * containers['height_cm']
containers['volume_m3'] = containers['volume_cm3'] / 1000000  # Convert to cubic meters

total_container_volume_m3 = containers['volume_m3'].sum()
print(f"Total volume of all containers: {total_container_volume_m3:.2f} cubic meters")

containers[['container_id', 'zone', 'volume_m3']].sort_values('volume_m3', ascending=False).head()

Total volume of all containers: 100.09 cubic meters

   container_id              zone  volume_m3
51          A03           Airlock        6.8
27         NA03        Engine_Bay        6.8
3          SB04    Sanitation_Bay        3.4
5          CC02    Command_Center        3.4
16         ES03  External_Storage        3.4

In [29]:
containers_by_zone = containers.groupby('zone').agg({
    'container_id': 'count',
    'width_cm': 'mean',
    'depth_cm': 'mean',
    'height_cm': 'mean',
    'volume_m3': ['sum', 'mean']
}).round(2)


containers_by_zone.columns = ['count', 'avg_width_cm', 'avg_depth_cm',
                              'avg_height_cm', 'total_volume_m3', 'avg_volume_m3']

# Sort by total volume in descending order
containers_by_zone.sort_values('total_volume_m3', ascending=False).head()

,count,avg_width_cm,avg_depth_cm,avg_height_cm,total_volume_m3,avg_volume_m3
zone,,,,,,
Airlock,3,100.00,141.67,266.67,11.90,3.97
Engine_Bay,3,166.67,92.08,266.67,11.05,3.68
Greenhouse,4,125.00,74.38,300.00,11.05,2.76
Power_Bay,5,140.00,63.75,180.00,8.07,1.61
Lab,4,125.00,69.06,250.00,7.65,1.91

In [30]:
container_avg_width = containers['width_cm'].mean()
container_avg_depth = containers['depth_cm'].mean()
container_avg_height = containers['height_cm'].mean()

print(f"Average Container Width: {container_avg_width:.2f} cm")
print(f"Average Container Depth: {container_avg_depth:.2f} cm")
print(f"Average Container Height: {container_avg_height:.2f} cm")

container_avg_volume_cm3 = container_avg_width * container_avg_depth * container_avg_height
container_avg_volume_m3 = container_avg_volume_cm3 / 1000000  # Convert to cubic meters
print(f"Average Container Volume: {container_avg_volume_m3:.2f} cubic meters")

Average Container Width: 100.89 cm
Average Container Depth: 84.24 cm
Average Container Height: 208.93 cm
Average Container Volume: 1.78 cubic meters

# Items

samples-eda\samples\input_items.csv

```
item_id,name,width_cm,depth_cm,height_cm,mass_kg,priority,expiry_date,usage_limit,preferred_zone
000001,Research_Samples,26.8,17.5,19.4,2.4,84,N/A,2304,Storage_Bay
000002,LED_Work_Light,49.9,36.3,44.2,40.03,90,N/A,3558,Maintenance_Bay
000003,Pressure_Regulator,48.1,33.2,43.1,34.41,16,N/A,1075,Airlock
000004,Emergency_Oxygen_Mask,15.6,46.5,17.0,6.17,42,N/A,709,Medical_Bay
000005,Battery_Pack,23.2,31.6,18.2,6.67,93,N/A,175,External_Storage
```

In [31]:
items = pd.read_csv('./samples/input_items.csv')
items.head()
print(f"Total number of items: {items.shape[0]}")

,item_id,name,width_cm,depth_cm,height_cm,mass_kg,priority,expiry_date,usage_limit,preferred_zone
0,1,Research_Samples,26.8,17.5,19.4,2.40,84,NaN,2304,Storage_Bay
1,2,LED_Work_Light,49.9,36.3,44.2,40.03,90,NaN,3558,Maintenance_Bay
2,3,Pressure_Regulator,48.1,33.2,43.1,34.41,16,NaN,1075,Airlock
3,4,Emergency_Oxygen_Mask,15.6,46.5,17.0,6.17,42,NaN,709,Medical_Bay
4,5,Battery_Pack,23.2,31.6,18.2,6.67,93,NaN,175,External_Storage

Total number of items: 2000

In [32]:
# Calculate volume for items
items['volume_cm3'] = items['width_cm'] * items['depth_cm'] * items['height_cm']
items['volume_m3'] = items['volume_cm3'] / 1000000  # Convert to cubic meters

# Display summary statistics of volumes
total_items_volume_m3 = items['volume_m3'].sum()
avg_item_volume_m3 = items['volume_m3'].mean()

print(f"Total volume of all items: {total_items_volume_m3:.2f} cubic meters")
print(f"Average item volume: {avg_item_volume_m3:.4f} cubic meters")

# Display first few items with their volumes, sorted by volume
items[['item_id', 'name', 'volume_m3']].sort_values('volume_m3', ascending=False).head()

Total volume of all items: 45.58 cubic meters
Average item volume: 0.0228 cubic meters

      item_id                     name  volume_m3
1869     1870            Thruster_Fuel   0.116404
1996     1997  Water_Purification_Unit   0.113569
967       968        Fire_Extinguisher   0.111462
1270     1271             Helmet_Visor   0.103326
565       566            Thruster_Fuel   0.102636

In [33]:
# Calculate average dimensions for items
avg_item_width = items['width_cm'].mean()
avg_item_depth = items['depth_cm'].mean()
avg_item_height = items['height_cm'].mean()

print("\nAverage Item Dimensions:")
print(f"Width: {avg_item_width:.2f} cm")
print(f"Depth: {avg_item_depth:.2f} cm")
print(f"Height: {avg_item_height:.2f} cm")

Average Item Dimensions:
Width: 28.78 cm
Depth: 28.89 cm
Height: 28.53 cm

In [34]:
items_per_container = container_avg_volume_m3 / avg_item_volume_m3
print(
    f"On average, approximately {items_per_container:.0f} items of average size can fit in an average-sized container")

# Also show the values used in calculation for reference
print(f"\nCalculation details:")
print(f"Average container volume: {container_avg_volume_m3:.4f} m³")
print(f"Average item volume: {avg_item_volume_m3:.4f} m³")

On average, approximately 78 items of average size can fit in an average-sized container

Calculation details:
Average container volume: 1.7758 m³
Average item volume: 0.0228 m³

In [35]:
space_utilization_efficiency = 0.6
adjusted_items_per_container = items_per_container * space_utilization_efficiency
print(
    f"With 60% space utilization efficiency, approximately {adjusted_items_per_container:.0f} items can fit in an average-sized container.")

With 60% space utilization efficiency, approximately 47 items can fit in an average-sized container.

In [36]:
# Create a new column for priority by volume
items['priority_by_volume'] = items['priority'] / items['volume_m3']

# Group items by name and calculate statistics
item_stats = items.groupby('name').agg({
    'priority': ['min', 'max', 'mean'],
    'priority_by_volume': ['min', 'max', 'mean'],
    'volume_m3': 'mean'
}).round(2)

# Rename columns for better readability
item_stats.columns = ['priority_min', 'priority_max', 'priority_avg',
                      'priority_by_volume_min', 'priority_by_volume_max', 'priority_by_volume_avg',
                      'avg_volume_m3']

# Display the statistics
item_stats.head()

,priority_min,priority_max,priority_avg,priority_by_volume_min,priority_by_volume_max,priority_by_volume_avg,avg_volume_m3
name,,,,,,,
3D_Printer,1,97,48.78,39.33,9822.41,2725.83,0.03
Antibiotic_Supply,2,100,49.18,115.61,23621.17,3804.89,0.02
Asteroid_Sample_Container,8,100,55.08,636.24,33706.25,8954.53,0.01
Battery_Pack,1,100,50.37,25.49,19613.37,3866.18,0.03
CO2_Scrubber,5,100,51.86,186.95,21724.90,3263.52,0.02

In [37]:
# Group items by preferred zone and calculate total volume and priority metrics
zone_stats = items.groupby('preferred_zone').agg({
    'volume_m3': 'sum',
    'priority': 'sum',
    'item_id': 'count'  # Count items per zone
}).round(4)

# Get items volume by zone
items_volume_by_zone = zone_stats['volume_m3']

zone_container_counts = containers.groupby('zone')['container_id'].count()

# Create comparison dataframe
zone_utilization = pd.DataFrame({
    'container_count': zone_container_counts,
    'total_container_volume': containers_by_zone['total_volume_m3'],
    'item_count': zone_stats['item_id'],
    'total_items_volume': items_volume_by_zone,
    'total_priority': zone_stats['priority']
})

# Calculate utilization percentage and priority by volume
zone_utilization['utilization_pct'] = (zone_utilization['total_items_volume'] / zone_utilization['total_container_volume'] * 100).round(2)
zone_utilization['priority_by_volume_avg'] = (zone_utilization['total_priority'] / zone_utilization['total_items_volume']).round(2)

# Fill NaN with 0 for zones that have containers but no items
zone_utilization = zone_utilization.fillna(0)

# Sort by utilization percentage
zone_utilization = zone_utilization.sort_values('utilization_pct', ascending=False)

print("Zone Space Utilization:")
display(zone_utilization)

# Calculate overall utilization
overall_utilization_pct = (total_items_volume_m3 / total_container_volume_m3 * 100).round(2)
print(f"\nOverall Space Utilization: {overall_utilization_pct}%")

avg_utilization_pct = zone_utilization['utilization_pct'].mean()
print(f"Average Zone Utilization Percentage: {avg_utilization_pct:.2f}%")

Zone Space Utilization:

,container_count,total_container_volume,item_count,total_items_volume,total_priority,utilization_pct,priority_by_volume_avg
Engineering_Bay,2,0.85,268,6.8649,13380,807.64,1949.05
Storage_Bay,3,5.52,351,7.6326,18234,138.27,2388.96
Crew_Quarters,4,5.52,317,7.4110,16072,134.26,2168.67
Medical_Bay,3,4.25,141,3.1416,6700,73.92,2132.67
Lab,4,7.65,261,4.6462,13304,60.73,2863.42
Cockpit,5,4.89,91,2.4206,4980,49.50,2057.34
Command_Center,3,6.80,103,2.6818,5181,39.44,1931.91
Airlock,3,11.90,123,3.6898,6532,31.01,1770.29
Maintenance_Bay,4,4.46,69,1.3446,3846,30.15,2860.33
External_Storage,4,4.89,79,1.4331,4114,29.31,2870.70
Life_Support,5,6.16,50,1.4171,2832,23.00,1998.45
Power_Bay,5,8.07,69,1.5956,3234,19.77,2026.82
Engine_Bay,3,11.05,30,0.8620,1207,7.80,1400.23
Sanitation_Bay,4,7.01,23,0.2053,1110,2.93,5406.72
Greenhouse,4,11.05,25,0.2295,1188,2.08,5176.47

Overall Space Utilization: 45.54%
Average Zone Utilization Percentage: 96.65%

In [38]:
battery_pack_priorities = items[items['name'] == 'Battery_Pack']['priority'].tolist()
print("Priority values for Battery Pack items:")
for i in range(0, 101, 10):
  filtered = [p for p in battery_pack_priorities if i <= p < i+10]
  print(f"{i:2d}-{i+9:2d}: {filtered}")

Priority values for Battery Pack items:
 0- 9: [7, 5, 6, 1, 5, 2, 6, 1]
10-19: [15, 14, 13, 13]
20-29: [24, 22, 21, 23, 28, 23, 25]
30-39: [37, 37, 32, 36, 30]
40-49: [40, 49, 40, 42, 45, 44, 49]
50-59: [59, 59, 55, 54, 51, 52]
60-69: [67, 63, 63, 61, 64]
70-79: [77, 78, 75, 71, 77, 70]
80-89: [82, 89, 88, 89, 86, 89]
90-99: [93, 93, 98, 94, 98, 93]
100-109: [100, 100]